.flex-container {
  display: flex;
  border: 2px solid black;
  max-width: 350px;
  margin-bottom: 10px;
}

.item {
  margin: 5px;
  background-color: tomato;
  color: white;
  font-size: 24px;
  text-align: center;
}

.s-0 {
  flex-shrink: 0;
  flex-basis: 100px;
}

.s-1 {
  flex-shrink: 1;
  flex-basis: 100px;
}

.s-2 {
  flex-shrink: 2;
  flex-basis: 100px;
}

.s-3 {
  flex-shrink: 3;
  flex-basis: 100px;
}

.s-4 {
  flex-shrink: 4;
  flex-basis: 100px;
}

.fg-1 {
  flex-grow: 1;
}
